:root 
{
    --color-primary : #BA455A;
    --color-secondary : #5DB0A1;
    --color-white: #F1F8F7;
    --text-size: 16px;
    --reunion: #ADF7B6;
    --walking: #FFC09F;
    --cleaning: #FCF5C7;
}

.btn-send 
{
    background-color: var(--color-primary);
    width:60px;
    height:40px;
    display:flex;
    color:var(--color-secondary);
    justify-content:center;
    align-items:center;
}
.btn-send:hover
{
    background-color: var(--color-secondary);
    color:var(--color-primary);
    cursor:pointer;
}

.btn-base{
    width:80px;
    height:40px;
    -webkit-border-radius: 50px; 
    border-radius: 50px; 
    background: var(--color-primary);
    color: var(--color-white);
    -webkit-box-shadow: 12px 12px 24px #b2b8c9,
    -12px -12px 24px #f0f8ff;
    box-shadow: 12px 12px 24px #b2b8c9,
    -12px -12px 24px #f0f8ff;
    transition: all 0.1s ease-in-out;
    opacity:0.5;
}

.btn-base:hover{
    opacity:1;
}
/* FLASH SUCCES */
.flashSucces
{
    display:flex;
    width:100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px 15px;
    font-size: 28px;
    color:#BA455A;
    background-color: rgba(64, 224, 208, 0.397);
}
/* TABLE DISPLAY */
table {
    font-family: 'Roboto Mono', monospace;
    width: 80%;
    margin: auto auto;
}

thead {
    border-bottom: var(--color-primary) 1px solid;
}

#pagination section {
    border: none;

}

#pagination section div div {
    /* display:none; */

    margin: auto auto;
    border: none;
    outline: none;

}

#pagination section ul li a div:hover {
    background-color: var(--color-primary) !important;
}

/* SHOW CARDS  */
/* ANIMAL */
.animalCard {
    background: -webkit-linear-gradient(77deg, rgb(186, 69, 90), rgb(93, 176, 161));
    background: linear-gradient(77deg, rgb(186, 69, 90), rgb(93, 176, 161));
    color: white;
}
/* USER */
.userCard{
    color: white;
    background: -webkit-linear-gradient(83deg, rgb(79, 69, 186), rgb(93, 176, 161));
    background: linear-gradient(83deg, rgb(79, 69, 186), rgb(93, 176, 161));

}
/* TASK */
.taskCard
{
    color:white;
    background:black;
}
.cageCard
{   
    background: -webkit-linear-gradient(-17deg, rgb(186, 69, 90), rgb(93, 176, 161));
    background: linear-gradient(-17deg, rgb(186, 69, 90), rgb(93, 176, 161));
    color:white;

}